@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.webP{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.navBar{
    background-color:#1F2937 ;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}
.navlinks>ul{
    display: flex;
    gap:15px;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}
.logo{
    /* margin-right: auto; */
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #F9FAF8;
}
li>a {
     text-decoration: none;
     color: #E5E7EB;
}
.content{
    background-color:#1F2937 ;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-grow: 0;

}
.headerD{
    max-width: 600px;
    flex: 1;
    padding:10px 30px;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}
.headerI{
    flex:1;
    min-width: 500px;
    height: auto;
    padding-right: 20px;
}
.headerI>img{
    max-width: 100%;
}
.headerBtn{
    margin-top: 10px;
    padding:10px 30px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    border: none;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.content2{
    background-color: #F9FAF8;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 100px;
}
h2{
    font-size: 48px;
    font-weight: bolder;
    color: #1F2937;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: baseline;
}
.card{
    display: flex;
    width: 300px;
    flex-shrink: 0;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}
.card>div{
    height: 300px;
    width: 300px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    display: flex;
}
.card>div>img{
    max-width: 100%;
    border-radius: 10px;
}
.sec_3{
    background-color: #E5E7EB;
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding:30px 0;
}
.sec_3>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    min-height: 0;
}
.sec_3_quote{
    font-size: 30px;
    font-weight:300;
    font-style: italic;
    color: #1F2937;
}
.quote_tag{
    font-size: 25px;
    margin-top: 5px;
    font-weight: bolder;
    align-self: flex-end;
    justify-self: end;
}

.sec_4{
    background-color: #F9FAF8;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    gap: 20px;
}
.sec4_con{
    margin:0;
    min-width: 800px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-size: 18px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h5{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;
}
.text{
    font-size: 18px;
    width:80%
}
.signupBtn{
    padding:10px 30px;
    font-size: 18px;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: lighter;
}